PUBLIC_OCEAN_API_URL=https://localhost:21000/api
PUBLIC_ANONYM_TOKEN=
PUBLIC_ANONYM_ALLOWED=1

SSL_KEY_PATH=/home/user/ssl/localhost.key
SSL_CERT_PATH=/home/user/ssl/localhost.crt

NODE_TLS_REJECT_UNAUTHORIZED=0
